<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-2.0.xsd
		http://cxf.apache.org/jaxrs
		http://cxf.apache.org/schemas/jaxrs.xsd
		http://cxf.apache.org/core
		http://cxf.apache.org/schemas/core.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
<!-- 	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" /> -->
	
	<jaxrs:server id="otisMarketingWebService" address="/">
		<jaxrs:serviceBeans>
			<ref bean="otisMarketingService" />
		</jaxrs:serviceBeans>
	</jaxrs:server>

	<bean id="otisMarketingService" class="com.otis.marketing.webservice.OtisMarketingServiceImpl" />
	
</beans>